.App {
  text-align: center;
  background-color: black;
  font-family: 'Varela', sans-serif;
}
header{
  margin-top: 8vh;
}



/*
Glitch text start


*/
.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 790px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(27px, 9999px, 87px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  10% {
    clip: rect(86px, 9999px, 52px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 87px, 0);
  }
  20% {
    clip: rect(82px, 9999px, 70px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(6px, 9999px, 37px, 0);
  }
  35% {
    clip: rect(41px, 9999px, 83px, 0);
  }
  40% {
    clip: rect(21px, 9999px, 79px, 0);
  }
  45% {
    clip: rect(69px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(25px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 63px, 0);
  }
  65% {
    clip: rect(14px, 9999px, 77px, 0);
  }
  70% {
    clip: rect(86px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(22px, 9999px, 93px, 0);
  }
  80% {
    clip: rect(36px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(13px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(86px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(50px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 68px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(20px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(26px, 9999px, 49px, 0);
  }
  10% {
    clip: rect(28px, 9999px, 8px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 14px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(76px, 9999px, 13px, 0);
  }
  40% {
    clip: rect(27px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(41px, 9999px, 82px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 78px, 0);
  }
  55% {
    clip: rect(93px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 36px, 0);
  }
  65% {
    clip: rect(96px, 9999px, 47px, 0);
  }
  70% {
    clip: rect(76px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 77px, 0);
  }
  80% {
    clip: rect(93px, 9999px, 11px, 0);
  }
  85% {
    clip: rect(63px, 9999px, 56px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 79px, 0);
  }
  95% {
    clip: rect(74px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 45px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


/*


glitch text finish


*/






.padcontainer{
  left: 50%;
  z-index: 0;
  float: left;
  width: 1100px;
  height: auto;
  margin-left: 100px;
  max-height: 100vh;
  position: relative;
  border: 8px solid #16181C;
  transform: translateX(-50%);

}


.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  height: 10vh;
  width: 10vh;
  margin: 2px;
  background: #333;
}
.pad:hover{
  cursor: pointer;
  filter: brightness(130%);
}

.controls {
  display: flex;
  margin-top: 1vh;
  color: #aaa;
  font-size: calc(14px + 0.7vh);
}


.pad:active{
  background-color: blue;
}


.pulse {
  -webkit-animation: pulse 1.2s ease-in infinite;
          animation: pulse 1.2s ease-in infinite;
}



.pad-row {
  margin: 0 5px 10px 5px;
  display: flex;
  flex-direction: row;
}
  
@keyframes pulse
  50%
    filter: brightness(150%)
  100%
    filter: brightness(100%)